@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

html, body, [class*="css"] {
    font-family: 'Lexend', sans-serif; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}
